<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <title>Dashboard</title>
    <style>
        html,body {
            height: 100%;
        }
        .flex-fill {
            flex: 1;
        }
        .border {
            border-radius: 4px;
            border: solid snow 1px;
        }
    </style>
  </head>
  <body>
    
    <div class="container-fluid d-flex h-100 flex-column">
        <div class="row">
            <div class="col">
                <nav class="navbar navbar-light bg-light">
                    <span class="navbar-brand mb-0 h1">Navbar</span>
                </nav>
            </div>
        </div>
        <div class="row flex-fill d-flex">
          <div class="col-sm col-md border">
            <!-- Columna de la izquierda -->
            Here goes the map
          </div>
          <div class="col-sm col-md border">
            <!-- columna de la derecha -->
                <div class="row border">
                    <button type="button" class="btn btn-primary" onclick="get_data()">Primary</button>
                </div>
                <div class="row border">
                    second chart
                </div>
                <div class="row border">
                    <div class="col-md border">pequeño abajo izquierda</div>
                    <div class="col-md border">pequeño abajo derecha</div>
                </div>
          </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
{# 
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script> #}
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>